<h1>Comments</h1>
<% if obj.comments.any? %>
<ul class="comment-section">
  <% obj.comments.each do |obj| %>
  <li class="comment user-comment">
    <div class="info">
      <a href="#">Anomynous</a>
      <span><%= time_ago_in_words(obj.created_at) + ' ago' %></span>
    </div>

    <a class="avatar" href="#">
      <%= image_tag "Comment_Avatar.png", width: "35" %>
<!--      <img src="images/avatar_user_1.jpg" width="35" alt="Profile Avatar" title="Anie Silverston" />-->
    </a>

    <p><%= obj.comment %></p>

  </li>
    <% end %>
<% else  %>
  <p>No  Comments</p>
<% end %>
<%if current_user.present? || current_agency.present? %>
  <li class="write-new">
    <%= form_for @comment, :url => add_comment_path,html: {style:"display: inline"} do |f|%>
      <%= f.text_area :comment%>
      <%= f.hidden_field :id ,value:obj.id%>
      <div>
        <%= image_tag "Comment_Avatar.png", width: "35" %>
        <%= f.submit "Add Comment" ,class:"comment-submit-button"%>
      </div>
      <% end %>
  </li>
  <% end  %>
</ul>

