<div id="head" class="fix-nav-top">
  <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top" style="background-color: white;">
    <%= link_to "Tour Buddy" , root_path ,class:"navbar-brand",style:"font-size:36px;font-weight:bold;color:black;"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><%=image_tag "menu1.png",style: "width:25px;height:25px;" %></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to "Home" , root_path ,class:"nav-link",style:"font-size:18px;font-weight:bold;color:black;"%>
        </li>
        <li class="nav-item">
          <%= link_to "Group Tours" , groupTours_path ,class:"nav-link",style:"font-size:18px;font-weight:bold;color:black;"%>
        </li>
        <%if current_agency.present?%>
          <li class="nav-item">
            <%= link_to "Customised Tours" , customizedTours_path ,class:"nav-link" ,style: "font-size:18px;font-weight:bold;color:black;"%>
          </li>
        <%end %>
        <li class="nav-item">
          <%= link_to "About Us" , home_about_path ,class:"nav-link",style:"font-size:18px;font-weight:bold;color:black;"%>
        </li>

        <%if current_user.present? || current_agency.present? %>
          <li class="nav-item">
            <%=image_tag "avatar.png", class: "rounded-circle float right",width: 30,height: 30%>
          </li>
          <% if current_user%>
            <%session[:current_user_id] = current_user.id %>
          <li class="nav-item">
            <div class="ui dropdown">
              <div class="nav-link" style="font-size:18px;font-weight:bold;color:black;">
                  <%=current_user.full_name%>
              </div>
              <div class="menu">
                <div class="item">
                  <i class="plus icon"></i><%= link_to('Request Customized Event', user_new_event_path) %></div>
                <div class="item">
                  <i class="cog icon"></i><%= link_to('User Profile', user_profile_path) %></div>
                <div class="divider"></div>
                <div class="item">
                  <i class="sign out alternate icon"></i><%= link_to('Logout', destroy_user_session_path, method: :delete,style: "color:black;", data: { confirm: 'Are you sure?' }) %></div>
              </div>
            </div>
          </li>
          <% else %>
            <%session[:current_agency_id] = current_agency.id %>
            <li class="nav-item">
              <div class="ui dropdown">
                <div class="nav-link" style="font-size:18px;font-weight:bold;color:black;">
                  <%=current_agency.email%>
                </div>
                <div class="menu">
                  <div class="item">
                    <i class="plus icon"></i><%= link_to('Add New Event', agency_new_event_path) %></div>
                  <div class="item">
                    <i class="cog icon"></i><%= link_to('Agency Profile', agency_profile_path) %></div>
                  <div class="divider"></div>
                  <div class="item">
                    <i class="sign out alternate icon"></i><%= link_to('Logout', destroy_agency_session_path, method: :delete,style: "color:black;", data: { confirm: 'Are you sure?' }) %></div>
                </div>
              </div>
            </li>
          <% end %>
        <%else %>
          <li class="nav-item">
            <%= link_to "Login" , new_user_session_path ,class:"nav-link",style:"font-size:18px;font-weight:bold;color:black;"%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up" ,  new_user_registration_path ,class:"nav-link rounded",style:"font-size:18px;font-weight:bold;color:white;background-color:black;"%>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>