
	<!------------------------------------Body--------------------------------------------------------------->
					<br/><br/>
				
					<div class="container">
            <%= form_for @tour, :url =>update_event_path ,html: {style:"display: inline"} do |f|%>
							<div class="row col-md-12">						
								<h3>Edit Your Event</h3>
								<br/><br/>						
							</div>
              <img id="img_prev" src="" style="display:none; height: 300px; ">
              <br/>
              <div class="row col-md-12">
                <div  align="center">
                  <%= image_tag "upload_image.png", class:"img-fluid",id:"upload_image"%>
                  <div class="form-group">
                    <div class="upload-btn-wrapper">
                      <button class="ui secondary basic button" id="upload_image_text">Upload an image</button>
                      <%=  f.file_field :image, accept: 'image/*',onchange: "showImage.call(this);",:required => true%>
                      <!--                        <input type="file" name="image" accept="image/*" />-->
                    </div>
                  </div>
                </div>
              </div>
							<div class="row col-md-12">
								<h4 class="card-title"><%= image_tag "umbrella.png",style: "width:20px;height:20px;padding-bottom:1px;background-color:yellow;"%>&nbsp; Description</h4>
							</div>
							<br/>																
							<div class="row col-md-11">
								<h5 class="col-md-2">Title</h5>										
								<div class="col-md-4">
                  <%=f.text_field :title, class:"form-control",value:@tour.title %>
<!--									<input type="text" class="form-control" value="<%#=@tour.title %>" name="title" id="title" required>-->
								</div>

								<h5 class="col-md-2">Destination</h5>										
								<div class="col-md-4">
                  <%=f.text_field :destination, class:"form-control",value:@tour.destination%>
<!--									<input type="text" class="form-control" value="<%#=@tour.destination %>" name="destination" required>-->
								</div>
							</div>	
							<br/>								
							<div class="row col-md-11">
								<h5 class="col-md-3">Departure Date</h5>										
								<div class="col-md-3">
                  <%=f.date_select :departure_date, class:"form-control",value:@tour.departure_date %>
<!--									<input type="date" class="form-control" value="<%#=@tour.departure_date %>" name="date" required>-->
								</div>
								<h5 class="col-md-2">Package Price</h5>										
								<div class="col-md-4">
                  <%=f.text_field :budget, class:"form-control",value:@tour.budget %>
<!--									<input type="text" class="form-control" value="<%#=@tour.budget %>" name="price" required>-->
								</div>
							</div>		
							<br/>
							<div class="row col-md-11">
								<h5 class="col-md-2">Duration(Days)</h5>										
								<div class="col-md-4">
                  <%=f.text_field :duration, class:"form-control",value:@tour.duration %>
<!--									<input type="text" class="form-control" value="<%#=@tour.duration %>" name="days" required>-->
								</div>									
							</div>	
							<br/>
							<div class="row col-md-11">			
								<h5 class="card-title" style="background-color:#2B3856;color:white;padding:5px;" >Package Inclusions</h5>
							</div>
							<br/>

							<div class="row col-md-8" id="header">	
								<ul class="list-group list-group-flush col-md-12" id="ul"></ul>	
							</div>
							
							<div class="row col-md-8">
								<div class="col-md-12">
<!--									<textarea id="comment" rows="2" cols="60" placeholder=" Add Service that u provide in this Event" class="col-md-10"></textarea>-->
                  <%= f.fields_for :inclusions do |inc| %>
                    <%= render 'shared/inclusion_fields' ,f:inc %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add Service ', f, :inclusions,partial: 'shared/inclusion_fields',class:"ui violet button tiny" %>
                  </div>
								</div>
								<div col-md-2>									
<!--									<button type="button" class="ui violet button tiny" onclick="new_element()">Add</button>-->
								</div>
							</div>							
							<br/>

							<div class="row col-md-11">			
								<h5 class="card-title" style="background-color:#2B3856;color:white;padding:5px;" >Full Plan</h5>
							</div>
							<br/>	

							<div class="row col-md-11">
                <%= f.text_area(:full_plan, size: '60x10',value:@tour.full_plan)%>
<!--									<textarea id="full_plan" name="full_plan" rows="10" cols="60" required><%#=@tour.full_plan %></textarea>-->
							</div>							
							<br/>
              <%= f.hidden_field :tour_id,value: @tour.id%>
<!--              <input type="hidden" value="<%#=@tour.id %>" id="tour_id" name="tour_id" />-->
              <%= f.submit "Save Changes",class:"ui green button medium"%>
<!--							<button type="submit" class="ui green button medium">Save Changes</button>-->
						<% end %>
					</div>
					
					<br/><br/><br/><br/>
	<!-- -------------------------------footer------------------------------------------------------------- -->

