	<!------------------------------------Body--------------------------------------------------------------->
  <br/><br/>
					<div class="container">
						<div class="row">
							<div class="col-lg-3 ">
								<div class="card" style="margin-bottom: 5%;">
									<article class="card-group-item">
										<header class="card-header">
											<h6 class="title">Filter </h6>
										</header>
										<div class="filter-content">
											<div class="card-body">
											<div class="form-row">
											<div class="form-group col-md-6">

                        <%= form_tag '/filter' do %>
                        <%#= form_tag :url => 'filter_path' do %>
                          <label>Price</label>
                          <%= select_tag :tour_price, options_for_select([["Show All", ""], "Less than 10,000", "10,000 to 20,000", "Greater than 20,000"]) %>
                        <br><br>
                          <label>Days</label>
                          <%= select_tag :days, options_for_select([["Show All", ""], "1 Day", "Less than 2 Days", "Less than 3 Days","Greater than 3"]) %>
                          <br><br>
                          <%= submit_tag :search , class:'btn-primary'%>
                          <% end %>
											</div>
											</div>
											</div>
										</div>
								</article>
<!--									<article class="card-group-item">-->
<!--										<header class="card-header">-->
<!--											<h6 class="title">Selection </h6>-->
<!--										</header>-->
<!--										<div class="filter-content">-->
<!--											<div class="card-body">-->
<!--												<div class="custom-control custom-checkbox">-->
<!--													<span class="float-right badge badge-light round">52</span>-->
<!--													<input type="checkbox" class="custom-control-input" id="Check1">-->
<!--													<label class="custom-control-label" for="Check1">Northern Areas</label>-->
<!--												</div> -->

<!--												<div class="custom-control custom-checkbox">-->
<!--													<span class="float-right badge badge-light round">132</span>-->
<!--													<input type="checkbox" class="custom-control-input" id="Check2">-->
<!--													<label class="custom-control-label" for="Check2">Gilgit Baltistan</label>-->
<!--												</div> -->

<!--												<div class="custom-control custom-checkbox">-->
<!--													<span class="float-right badge badge-light round">17</span>-->
<!--													<input type="checkbox" class="custom-control-input" id="Check3">-->
<!--													<label class="custom-control-label" for="Check3">Swat Kalam Kalash</label>-->
<!--												</div> -->

<!--												<div class="custom-control custom-checkbox">-->
<!--													<span class="float-right badge badge-light round">7</span>-->
<!--													<input type="checkbox" class="custom-control-input" id="Check4">-->
<!--													<label class="custom-control-label" for="Check4">Other</label>-->
<!--												</div>-->
<!--											</div> -->
<!--										</div>-->
<!--									</article>-->
								</div>
							</div> <!-- col.// -->


<%
  id = []
  title = []
  destination = []
  duration = []
  budget = []
  actual_tour_obj =[]

  @tours.each do |tour|
    id.push(tour.id)
    title.push(tour.title)
    destination.push(tour.destination)
    duration.push(tour.duration)
    budget.push(tour.budget)
    actual_tour_obj.push(tour)
  end
%>
              <div class="col">
                <%  if id.count%2==0 %>
                  <% for i in (0..id.count-1).step(2) do %>
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="card" style="margin-bottom: 20px;">
                          <%= image_tag actual_tour_obj[i].image,class: "card-img-top", width:"30px",height:"200px"%>
                          <div class="card-body">
                            <h4 class="card-title"><%=title[i] %></h4>
                            <p class="card-text">Destination : <%=destination[i] %>
                            <br/>Duration    : <%=duration[i] %> days
                            <br/>Budget      : <%=budget[i] %> PKR</p>
                            <%= link_to "View Package" ,agency_single_tour_path( :tour_id => id[i]),class: "button rounded",style:"padding-left:10px;padding-right:10px;border:1px solid #483C32;color:white;background-color:#483C32;"%>
                           </div>
                        </div>
                      </div>
                      <div class="col-lg-5 offset-lg-1">
                        <div class="card" >
                          <%= image_tag actual_tour_obj[i+1].image,class: "card-img-top", width:"30px",height:"200px"%>
                          <div class="card-body">
                            <h4 class="card-title"><%=title[i+1] %></h4>
                            <p class="card-text">Destination : <%=destination[i+1] %>
                            <br/>Duration    : <%=duration[i+1] %> days
                            <br/>Budget      : <%=budget[i+1] %> PKR</p>
                            <%= link_to "View Package" ,agency_single_tour_path(:tour_id => id[i+1]),class: "button rounded",style:"padding-left:10px;padding-right:10px;border:1px solid #483C32;color:white;background-color:#483C32;"%>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%end %>
                <%  else  %>
                  <% for i in (0..id.count-1).step(2) do %>
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="card" style="margin-bottom: 20px;">
                          <%= image_tag actual_tour_obj[i].image,class: "card-img-top", width:"30px",height:"200px"%>
                          <div class="card-body">
                            <h4 class="card-title"><%=title[i] %></h4>
                            <p class="card-text">Destination : <%=destination[i] %>
                              <br/>Duration    : <%=duration[i] %> days
                              <br/>Budget      : <%=budget[i] %> PKR</p>
                            <%= link_to "View Package" ,agency_single_tour_path(:tour_id => id[i]),class: "button rounded",style:"padding-left:10px;padding-right:10px;border:1px solid #483C32;color:white;background-color:#483C32;"%>
                          </div>
                        </div>
                      </div>
                      <% if(i==id.count-1)
                           break
                         end
                      %>
                      <div class="col-lg-5 offset-lg-1">
                        <div class="card" >
                          <%= image_tag actual_tour_obj[i+1].image,class: "card-img-top", width:"30px",height:"200px"%>
                          <div class="card-body">
                            <h4 class="card-title"><%=title[i+1] %></h4>
                            <p class="card-text">Destination : <%=destination[i+1] %>
                              <br/>Duration    : <%=duration[i+1] %> days
                              <br/>Budget      : <%=budget[i+1] %> PKR</p>
                            <%= link_to "View Package" ,agency_single_tour_path(:tour_id => id[i+1]),class: "button rounded",style:"padding-left:10px;padding-right:10px;border:1px solid #483C32;color:white;background-color:#483C32;"%>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <br/><br/>
                <div class="container" style="margin-left: 38%;">
                  <div class="navigation">
                    <div class="pagination">
                      <%= will_paginate @tours %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <br/><br/><br/><br/>