
<!------------------------------------------Carousel----------------------------------------------------->

<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="position:relative;width:100%;top:0;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 600px;">
        <%= image_tag "img1.jpg",style: "object-fit: fill;" ,class: "d-block w-100"%>
        <div class="carousel-caption d-none d-md-block" style="z-index:10;text-align:center;top:70%;bottom:auto;">
          <h5>Love where you're going</h5>
          <p>Book experiences you will want to tell the world about</p>
          <button class="rounded" style="width:150px;font-size:18px;font-weight:bold;color:#CD7F32;background-color:white;">Get Started</button>
        </div>
      </div>
      <div class="carousel-item" style="height: 600px;">
        <%= image_tag "img2.jpg",style: "object-fit: fill;" ,class: "d-block w-100"%>
        <div class="carousel-caption d-none d-md-block" style="z-index:10;text-align:center;top:70%;bottom:auto;">
          <h5>Love where you're going</h5>
          <p>Book experiences you will want to tell the world about</p>
          <button class="rounded" style="width:150px;font-size:18px;font-weight:bold;color:#483C32;background-color:white;">Get Started</button>
        </div>
      </div>
      <div class="carousel-item" style="height: 600px;">
        <%= image_tag "img3.jpg",style: "object-fit: fill;" ,class: "d-block w-100"%>
        <div class="carousel-caption d-none d-md-block" style="z-index:10;text-align:center;top:30%;left:55%;bottom:auto;">
          <h5>Love where you're going</h5>
          <p>Book experiences you will want to tell the world about</p>
          <button class="rounded" style="width:150px;font-size:18px;font-weight:bold;color:#2B65EC;background-color:white;">Get Started</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div><br/><br/><br/>
<!-- ------------------------------------Body---------------------------------------------------------- -->


<div class="container">
  <%if Tour.first
      tour = Tour.first
  %>
    <div class="row">
      <div class="col-lg-4 ">
        <div class="card" style="margin-bottom: 20px;">
          <%= image_tag tour.image,class: "card-img-top", width:"30px",height:"200px"%>
          <div class="card-body">
            <h4 class="card-title"><%=tour.title %></h4>
            <p class="card-text">Destination : <%=tour.destination %>
              <br/>Departure : <%=tour.departure_date %>
              <br/>Budget      : <%=tour.budget %> PKR</p>
            <form action="agency_single_tour" method="get" style="display: inline">
              <input type="hidden" value="<%=tour.id %>" id="tour_id" name="tour_id" />
              <input  type="submit" value="<%=tour.duration %> Days" class="button rounded" style="padding-left:10px;padding-right:10px;border:1px solid #9F000F;color:#9F000F;background-color:white;width:100%;"/>
            </form>
          </div>
        </div>
      </div>
      <%if Tour.second
          tour = Tour.second
      %>
        <div class="col-lg-4 ">
          <div class="card" style="margin-bottom: 20px;">
            <%= image_tag tour.image,class: "card-img-top", width:"30px",height:"200px"%>
            <div class="card-body">
              <h4 class="card-title"><%=tour.title %></h4>
              <p class="card-text">Destination : <%=tour.destination %>
                <br/>Departure : <%=tour.departure_date %>
                <br/>Budget      : <%=tour.budget %> PKR</p>
              <form action="agency_single_tour" method="get" style="display: inline">
                <input type="hidden" value="<%=tour.id %>" id="tour_id" name="tour_id" />
                <input  type="submit" value="<%=tour.duration %> Days" class="button rounded" style="padding-left:10px;padding-right:10px;border:1px solid #9F000F;color:#9F000F;background-color:white;width:100%;"/>
              </form>
            </div>
          </div>
        </div>
      <%end %>
      <%if Tour.third
          tour = Tour.third
      %>
        <div class="col-lg-4 ">
          <div class="card" style="margin-bottom: 20px;">
            <%= image_tag "shangrila.jpg",class: "card-img-top", width:"30px",height:"200px"%>
            <div class="card-body">
              <h4 class="card-title"><%=tour.title %></h4>
              <p class="card-text">Destination : <%=tour.destination %>
                <br/>Departure : <%=tour.departure_date %>
                <br/>Budget      : <%=tour.budget %> PKR</p>
              <form action="agency_single_tour" method="get" style="display: inline">
                <input type="hidden" value="<%=tour.id %>" id="tour_id" name="tour_id" />
                <input  type="submit" value="<%=tour.duration %> Days" class="button rounded" style="padding-left:10px;padding-right:10px;border:1px solid #9F000F;color:#9F000F;background-color:white;width:100%;"/>
              </form>
            </div>
          </div>
        </div>
      <%end %>
    </div>
    <br/><br/>
    <div class="col text-center">
      <%= link_to "Show More" , groupTours_path ,class:"btn btn-default" ,style: "font-weight:bold;border:1px solid green;color:green;background-color:white;width:250px;"%>
    </div>
  <%end %>
</div>
<!----------------------------------------------------------------------------------------->

<br/>
<!------------------------------------Container------------------------------------------------------------>

<br/><br/>

<div style="background-color:#E5E4E2;">
  <br/><br/>
  <div class="col text-center">
    <h2 style="font-weight:bold;color:#F87217;" >Top <span style="font-weight:bold;color:#E42217;">Destinations</span></h2>
  </div>
  <br/><br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="card" style="margin-bottom: 20px;">
          <%= image_tag "shangrila.jpg",class: "card-img-top", width:"30px",height:"200px"%>
          <div class="card-body">
            <h4 class="card-title">Shangrila, Lower Kachura Lake</h4>
            <p class="card-text">Family, Friends, Relax</p>
            <button href="#" class="rounded" style="font-weight:bold;border:1px solid #F87217;color:#E42217;background-color:white;" >9 Days</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card" style="margin-bottom: 20px;">
          <%= image_tag "naran.jpg",class: "card-img-top", width:"30px",height:"200px"%>
          <div class="card-body">
            <h4 class="card-title">Naran, Kaghan and Shogran</h4>
            <p class="card-text">Family, Friends, Relax</p>
            <button href="#" class="rounded" style="font-weight:bold;border:1px solid #F87217;color:#E42217;background-color:white;" >5 Days</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card" style="margin-bottom: 20px;">
          <%= image_tag "swat.jpg",class: "card-img-top", width:"30px",height:"200px"%>
          <div class="card-body">
            <h4 class="card-title">Kalam, Swat</h4>
            <p class="card-text">Family, Friends, Relax</p>
            <button href="#" class="rounded" style="font-weight:bold;border:1px solid #F87217;color:#E42217;background-color:white;" >6 Days</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/><br/>
</div>