
	<!------------------------------------Body--------------------------------------------------------------->
<br/><br/>

<div class="container">
  <h1><%=@tour.title %></h1><br/>

  <div class="row">
    <div class="card" style="left:0px;width:26rem;border-color:white;">
      <div class="card-body">
      <h4 class="card-title"><%= image_tag "umbrella.png",style: "width:20px;height:20px;padding-bottom:1px;background-color:yellow;"%>&nbsp; Description</h4>
      <p class="card-text" style="font-size:16px;"><span style="font-weight:bold;">Destination:</span>
      <em style="padding-left: 11em;"><%=@tour.destination %></em> <br/>
      <span style="font-weight:bold;">Duration:</span><em style="padding-left: 12.4em;"><%=@tour.duration %> Days</em>
      <br/>
      <span style="font-weight:bold;">Package Price:</span><em style="padding-left: 8.4em;">PKR <%=@tour.budget %></em>
      <br/>
       <span style="font-weight:bold;">User Name:</span><em style="padding-left: 7.5em;"><%=@tour.user.full_name %></em>
       <br/>
      </p>

      </div>
    </div>
  </div>


  <div class="row">

    <div class="card" style="left:0px;width:46rem;border-color:white;">
      <div class="card-body" style="padding-left:0px;">
      <h4 class="card-title" style="background-color:#2B3856;color:white;padding:5px;" >Full Plan</h4>
      <p class="card-text" style="color:black;font-size:16px;border:1px solid black;" >

        <%=@tour.full_plan %><br/><br/><br/><br/>

      </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="border-color:white;">
      <div style="font-weight:bold;font-size:18px;">Departure Date : <%=@tour.departure_date %></div>
    </div>
  </div>
  <% if current_user.present?
       if @tour.user.id.eql? current_user.id  %>
      <div class="row col-md-12" style="padding-top: 3%;">
        <div class="col-md-2">
          <form action="delete_user_tour" method="get" style="display: inline">
            <input type="hidden" value="<%=@tour.id %>" id="tour_id" name="tour_id" />
            <input  type="submit" value="Delete Event" class="btn btn-danger" />
          </form>
        </div>
        <div class="col-md-2 offset-md-1">
          <form action="edit_user_event" method="get" style="display: inline">
            <input type="hidden" value="<%=@tour.id %>" id="tour_id" name="tour_id" />
            <input  type="submit" value="Edit Event" class="btn btn-info" style="margin-top: 3%;"/>
          </form>
        </div>
      </div>
  <%   end
     end
  %>
</div>
<br/>
<div class="container">
  <%= render 'shared/user_tour_comment_area', obj: @tour %>
</div>
  <br/>