
<div class="container">
  <div class="row" style="margin-top: 5%;">
    <div class="col-md-6">
      <%= image_tag "confirmation.png" ,class:"img-fluid" %>
    </div>
    <div class="col-md-6 primary_font" style="margin-top: 5%;">
      <div align="center">
        <strong><span class="primary_color" style="font-size: larger">Resend confirmation </span></strong><span  style="font-size:larger">Instructions?</span>
      </div></br>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <label for="formGroupExampleInput2">Email</label>
          <%= f.email_field :email,autofocus: true,class:"form-control validate", placeholder:"Enter Email",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)%>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
          <%= f.submit "Resend confirmation instructions",style:"color:white;background-color:green;width:300px;",class:"btn btn-deep-orange"%>
        </div>
      <%end %>
      <div style="margin-top: 5%;">
        <%= render "devise/shared/links"%>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
