<!DOCTYPE html>
<html>
  <head>
    <title>Tourbuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/navbar" %>
<center>
  <%if notice.present? || alert.present?%>
    <div class="ui compact message">
      <%if notice %>
        <div class="header">
          <%= notice %>&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="close icon"  style="float: right;cursor: pointer;"></i>
        </div>
      <%end %>
      <%if alert.present?%>
        <div class="header"><%= alert %>&nbsp;&nbsp;&nbsp;&nbsp;<i class="close icon" style="float: right;cursor: pointer;"></i></div>
      <%end %>
    </div>
  <%end %>
</center>
  <%= yield %>
  <%= render "shared/footer" %>
  </body>

</html>
